/* Kfir Tayar */

.add-cost-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.add-cost-page h2 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
    font-weight: 200;
}

.add-cost-form {
    margin: 5px;
    width: 800px;
    height: 100px;
    padding: 20px 50px 90px 100px;
    display: flex;
    border-radius: 25px;
    background-color: lavender;
}

.add-cost-form-fields {
    padding: 10px 10px 30px 15px;
    max-width: 250px;
    max-height: 85px;
}

.add-cost-form-labels {
    font-size: 18px;
    font-weight: 350;
}

.add-cost-form-fields input, select, textarea{
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

.add-cost-form-table {
    width: 70%;
    margin: 15px;
}

.add-cost-form-header{
    background-color: #90a4ae;
    color: white;
}

textarea{
    resize: none;
    height: 50px;
}

td:hover {
    background-color: #eceff1;
}





