/* Kfir Tayar 208991430
   Adi Gertel 206481129 */

.get-report-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.get-report-page h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    margin: 10px;
}

.get-report-form {
    margin: 5px;
    width: 800px;
    height: 90px;
    padding: 20px 50px 90px 100px;
    display: flex;
    border-radius: 25px;
    background-color: lavender;
}

.get-report-form-labels {
    font-size: 18px;
    font-weight: 350;
}

.get-report-year {
    padding: 10px 10px 10px 10px;
}

.get-report-month {
    padding: 10px 10px 10px 150px;
}

.get-report-form-button {
    position: relative;
    padding: 150px 10px 10px 10px;
    width: 400px;
    height: 100px;
    z-index: 15;
    top: 55%;
    left: -340px;
    margin: -100px 0 0 -150px;
}
